textarea {
    min-height: 400px;
}

/* td {
    padding: 1px;
    width: 30%;
}

.email-subject {
    display: inline-block;
}

.email-time {
    display: inline-block;
}

.email-recipients {
    display: inline-block;
} */

